.vehicle-details-page {
  background: #F8F9FB;
  padding: 20px;
  margin-top: 80px;
  margin-bottom: 80px;
  border: 1px solid #F8F9FB;
}

.back-link {
  display: inline-block;
  margin-bottom: 30px;
  font-weight: 600;
  color: #000;
  text-decoration: none;
}

.vehicle-details-grid {
  display: grid;
  grid-template-columns: 1.1fr 1fr;
  gap: 60px;
  align-items: center;
}

/* IMAGE */
.vehicle-image-box img {
  width: 100%;
  border-radius: 4px;
  object-fit: cover;
  height: 500px;
}

/* INFO */
.vehicle-info-box {
  max-width: 500px;
}

.vehicle-title {
  font-size: 42px;
  font-weight: 900;
  margin-bottom: 20px;
  color: #313131;
}

/* ICON LINE */
.vehicle-meta {
  display: flex;
  gap: 25px;
  flex-wrap: wrap;
  font-size: 15px;
  color: #e3b023;
  font-weight: 600;
  margin-bottom: 25px;
}

.vehicle-description {
  font-size: 16px;
  line-height: 1.8;
  color: #313131;
  margin-bottom: 30px;
}

/* PRICE */
.vehicle-price {
  font-size: 15px;
  color: #c5a30e;
  margin-bottom: 15px;
}

.vehicle-price strong {
  display: block;
  font-size: 38px;
  font-weight: 900;
  color: #313131;
  margin-top: 5px;
}

/* BUTTON */
.book-now-btn {
  background: #ffe600;
  color: #000;
  border: 3px solid #000;
  padding: 18px 40px;
  font-size: 18px;
  font-weight: 900;
  cursor: pointer;
  transition: 0.3s ease;
}

.book-now-btn:hover {
  background: #000;
  color: #ffe600;
}

.book-now-btn:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

/* RESPONSIVE */
@media (max-width: 992px) {
  .vehicle-details-grid {
    grid-template-columns: 1fr;
  }

  .vehicle-title {
    font-size: 34px;
  }
}
